<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.matjo.pickafood.admin.reply.mapper.ReplyMapper">

    <select id="selectListOfBoard" resultType="com.matjo.pickafood.admin.reply.domain.ReplyVO">
        Select reply_seq, board_seq, origin_reply_seq, root_reply_seq, content, id, nickname,
               (TIMESTAMPDIFF(second , reg_date, now()) / 60) date, reg_date,
               update_date, del_flag, like_count, main_image, profile
        from reply where board_seq=#{boardSeq} and reply_seq > 0
        order by reply_seq asc, origin_reply_seq asc, root_reply_seq asc
            limit #{listDTO.skip}, #{listDTO.size}
    </select>

    <select id="selectTotalOfBoard" resultType="int">
        select count(reply_seq) from reply where board_seq=#{boardSeq} and reply_seq>0
    </select>

    <insert id="insert">
        insert into reply (board_seq, content, id, nickname, profile)
        values (#{boardSeq}, #{content}, #{id}, #{nickname}, #{profile})
    </insert>

</mapper>