<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.matjo.pickafood.admin.food.mapper.FoodMapper">

    <!-- 검색 조건 -->
    <sql id ="search">
        <if test='type != null and keyword == null'>
            and company_category = #{type}
        </if>


        <if test="keyword != null">
            and
            <foreach collection="types" item="item" separator="or" open="(" close=")">
                <if test='item == "t"'>
                    name like concat('%', #{keyword}, '%')
                </if>

                <if test='item == "c"'>
                    same_factory like concat('%', #{keyword}, '%')
                </if>
                <if test='
                    item == "w"'>
                    ingredient concat('%', #{keyword}, '%')
                </if>
            </foreach>
        </if>
    </sql>

    <select id="companyList" resultType="com.matjo.pickafood.admin.food.domain.CompanyVO">
        select *
        from category where cate_num between 40000 and 50000
        <include refid="search"></include>
        order by cate_num desc
        limit #{skip},#{size}
    </select>

    <select id="selectList" resultType="com.matjo.pickafood.admin.food.domain.FoodVO">
        select *
        from food where food_seq > 0 and del_flag = 0
        <include refid="search"></include>
        order by food_seq desc
        limit #{skip},#{size}
    </select>

    <select id="getTotal" resultType="int">
        select count(food_seq)
        from food where food_seq > 0 and del_flag = 0
        <include refid="search"></include>
    </select>

    <select id="getCompanyTotal" resultType="int">
        select count(cate_num)
        from category where cate_num between 40000 and 50000
    </select>

  <insert id="insert">
    insert into food (name, company_category, company, main_image, ingredient, allergy_ingredient, same_factory)
    values (#{name}, #{company_category}, #{company}, #{main_image}, #{ingredient}, #{allergy_ingredient}, #{same_factory})
  </insert>

</mapper>