<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.matjo.pickafood.admin.food.mapper.FoodMapper">

    <!-- 검색 조건 -->
    <sql id="search">
        <where>
            <if test='type != null and keyword == null'>
                company_category = #{type}
            </if>
        </where>
    </sql>

    <sql id="allergySearch">
        <trim prefix="and">
            <if test='type.contains("i")'>
                <if test='type.contains("c")'>
                    (ingredient like concat('%',#{ingredient},'%'))
                </if>
                <if test='type.contains("e")'>
                    (ingredient not like concat('%',#{ingredient},'%'))
                </if>
            </if>
            <if test='type.contains("a") and type.contains("i")'>
                OR
            </if>
            <if test='type.contains("a")'>
                <if test='type.contains("c")'>
                    <foreach collection="allergies" item="allergy" separator="OR">
                        (refined_allergy_ingredient like concat('%',#{allergy},'%'))
                    </foreach>
                </if>
                <if test='type.contains("e")'>
                    <foreach collection="allergies" item="allergy" separator="OR">
                        (refined_allergy_ingredient not like concat('%',#{allergy},'%'))
                    </foreach>
                </if>
            </if>
            <if test='type.contains("n")'>
                <trim prefix="and (" suffix=")">
                    name like concat('%',#{name},'%')
                </trim>
            </if>
            <if test='type.contains("b")'>
                <trim prefix="and (" suffix=")">
                    <foreach collection="brands" item="company" separator="OR">
                        company = #{company}
                    </foreach>
                </trim>
            </if>
        </trim>

    </sql>

    <sql id="sort">
        (CASE WHEN

        <if test='sort == "allergy"'>
            <if test='type.contains("c")'>
                <foreach collection="allergies" item="allergy" separator="OR">
                    (refined_allergy_ingredient like concat('%',#{allergy},'%'))
                </foreach>
            </if>
            <if test='type.contains("e")'>
                <foreach collection="allergies" item="allergy" separator="OR">
                    (refined_allergy_ingredient not like concat('%',#{allergy},'%'))
                </foreach>
            </if>
        </if>

        <if test='sort == "ingredient"'>
            <if test='type.contains("c")'>
                (ingredient like concat('%',#{ingredient},'%'))
            </if>
            <if test='type.contains("e")'>
                (ingredient not like concat('%',#{ingredient},'%'))
            </if>

        </if>

        <if test='sort == "name"'>
            name like concat('%',#{name},'%')
        </if>

        <if test='sort == "brand"'>
            <foreach collection="brands" item="company" separator="OR">
                company = #{company}
            </foreach>
        </if>
        THEN 1 ELSE 2 END),
    </sql>

    <select id="selectList" resultType="com.matjo.pickafood.admin.food.domain.FoodVO">
        select *
        from food
        <include refid="search"></include>
        and food_seq > 0 and del_flag = 0
        order by food_seq desc
        limit #{skip},#{size}
    </select>

    <select id="allergySearchList" resultType="com.matjo.pickafood.admin.food.domain.FoodVO">
        select * from food
        where food_seq > 0 and del_flag = 0
        <include refid="allergySearch"></include>
        order by <include refid="sort"></include> food_seq desc
        limit #{skip}, #{size}
    </select>

    <select id="getAllergyCheckTotal" resultType="int">
        select count(*) from food
        where food_seq > 0 and del_flag = 0
        <include refid="allergySearch"></include>
        order by food_seq desc
    </select>

    <select id="allergyOptions" resultType="string">
        select name
        from category
        where type = 'allergy'
        order by cate_num
    </select>

    <select id="companyList" resultType="com.matjo.pickafood.admin.food.domain.CompanyVO">
        select *
        from category where cate_num between 40000 and 50000
        <include refid="search"></include>
        order by cate_num desc
        limit #{skip},#{size}
    </select>

    <select id="getTotal" resultType="int">
        select count(food_seq)
        from food a
        <include refid="search"></include>
        and food_seq > 0 and del_flag = 0
    </select>

    <select id="getCompanyTotal" resultType="int">
        select count(cate_num)
        from category
        where cate_num between 40000 and 50000
    </select>

</mapper>