<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.matjo.pickafood.admin.report.mapper.ReportMapper">

    <select id="selectList" resultType="com.matjo.pickafood.admin.report.domain.ReportVO">
        select report_seq,
               (select name from reportCategory where code = reportCategory) category,
               reportCategory, content, id, reportId, regDate, reportDate, answerId, report_yn from report
        order by report_seq desc
        limit #{skip},#{size}
    </select>

    <select id="getTotal" resultType="int">
        select count(report_seq)
        from report
    </select>

    <select id="selectOne" resultType="com.matjo.pickafood.admin.report.domain.ReportVO">
        select * from report where report_seq = #{report_seq}
    </select>


</mapper>